services:
  web:
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: bin/dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    environment:
      - RAILS_ENV=development
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - buildboard_postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=buildboard123
      - POSTGRES_USER=postgres
      - POSTGRES_DB=buildboard_development
    ports:
      - "5432:5432"

volumes:
  buildboard_postgres_data:
  bundle_cache:
