// Font Face Declarations

// Ohno Softie Font Family
@font-face {
    font-family: 'Ohno Softie';
    src: url('OhnoSoftieDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ohno Softie';
    src: url('OhnoSoftieDemo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ohno Softie';
    src: url('OhnoSoftieDemo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ohno Softie';
    src: url('OhnoSoftieDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Legacy Jua font (keeping for compatibility)
@font-face {
    font-family: 'Jua';
    src: url('Jua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  