/* Coolors Exported Palette - https://coolors.co/614c33-e0432a-6a2d14-805b4d-3d2516-d6924a-b47662-d6bec6-f9dccc-676482 */

/* CSS HEX */
--coffee: #614C33ff;
--chili-red: #E0432Aff;
--seal-brown: #6A2D14ff;
--coffee-2: #805B4Dff;
--bistre: #3D2516ff;
--butterscotch: #D6924Aff;
--brown-sugar: #B47662ff;
--thistle: #D6BEC6ff;
--champagne-pink: #F9DCCCff;
--ultra-violet: #676482ff;

/* CSS HSL */
--coffee: hsla(33, 31%, 29%, 1);
--chili-red: hsla(8, 75%, 52%, 1);
--seal-brown: hsla(17, 68%, 25%, 1);
--coffee-2: hsla(16, 25%, 40%, 1);
--bistre: hsla(23, 47%, 16%, 1);
--butterscotch: hsla(31, 63%, 56%, 1);
--brown-sugar: hsla(15, 35%, 55%, 1);
--thistle: hsla(340, 23%, 79%, 1);
--champagne-pink: hsla(21, 79%, 89%, 1);
--ultra-violet: hsla(246, 13%, 45%, 1);

/* SCSS HEX */
$coffee: #614C33ff;
$chili-red: #E0432Aff;
$seal-brown: #6A2D14ff;
$coffee-2: #805B4Dff;
$bistre: #3D2516ff;
$butterscotch: #D6924Aff;
$brown-sugar: #B47662ff;
$thistle: #D6BEC6ff;
$champagne-pink: #F9DCCCff;
$ultra-violet: #676482ff;

/* SCSS HSL */
$coffee: hsla(33, 31%, 29%, 1);
$chili-red: hsla(8, 75%, 52%, 1);
$seal-brown: hsla(17, 68%, 25%, 1);
$coffee-2: hsla(16, 25%, 40%, 1);
$bistre: hsla(23, 47%, 16%, 1);
$butterscotch: hsla(31, 63%, 56%, 1);
$brown-sugar: hsla(15, 35%, 55%, 1);
$thistle: hsla(340, 23%, 79%, 1);
$champagne-pink: hsla(21, 79%, 89%, 1);
$ultra-violet: hsla(246, 13%, 45%, 1);

/* SCSS RGB */
$coffee: rgba(97, 76, 51, 1);
$chili-red: rgba(224, 67, 42, 1);
$seal-brown: rgba(106, 45, 20, 1);
$coffee-2: rgba(128, 91, 77, 1);
$bistre: rgba(61, 37, 22, 1);
$butterscotch: rgba(214, 146, 74, 1);
$brown-sugar: rgba(180, 118, 98, 1);
$thistle: rgba(214, 190, 198, 1);
$champagne-pink: rgba(249, 220, 204, 1);
$ultra-violet: rgba(103, 100, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-right: linear-gradient(90deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-bottom: linear-gradient(180deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-left: linear-gradient(270deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-top-right: linear-gradient(45deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-bottom-right: linear-gradient(135deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-top-left: linear-gradient(225deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-bottom-left: linear-gradient(315deg, #614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);
$gradient-radial: radial-gradient(#614C33ff, #E0432Aff, #6A2D14ff, #805B4Dff, #3D2516ff, #D6924Aff, #B47662ff, #D6BEC6ff, #F9DCCCff, #676482ff);