/* Coolors Exported Palette - https://coolors.co/b97542-f9dccc-643639-e0432a-322946-c2967c-676482-81522a-805b4d-b47662 */

/* CSS HEX */
--copper: #B97542ff;
--champagne-pink: #F9DCCCff;
--wine: #643639ff;
--chili-red: #E0432Aff;
--dark-purple: #322946ff;
--lion: #C2967Cff;
--ultra-violet: #676482ff;
--russet: #81522Aff;
--coffee: #805B4Dff;
--brown-sugar: #B47662ff;

/* CSS HSL */
--copper: hsla(26, 47%, 49%, 1);
--champagne-pink: hsla(21, 79%, 89%, 1);
--wine: hsla(356, 30%, 30%, 1);
--chili-red: hsla(8, 75%, 52%, 1);
--dark-purple: hsla(259, 26%, 22%, 1);
--lion: hsla(22, 36%, 62%, 1);
--ultra-violet: hsla(246, 13%, 45%, 1);
--russet: hsla(28, 51%, 34%, 1);
--coffee: hsla(16, 25%, 40%, 1);
--brown-sugar: hsla(15, 35%, 55%, 1);

/* SCSS HEX */
$copper: #B97542ff;
$champagne-pink: #F9DCCCff;
$wine: #643639ff;
$chili-red: #E0432Aff;
$dark-purple: #322946ff;
$lion: #C2967Cff;
$ultra-violet: #676482ff;
$russet: #81522Aff;
$coffee: #805B4Dff;
$brown-sugar: #B47662ff;

/* SCSS HSL */
$copper: hsla(26, 47%, 49%, 1);
$champagne-pink: hsla(21, 79%, 89%, 1);
$wine: hsla(356, 30%, 30%, 1);
$chili-red: hsla(8, 75%, 52%, 1);
$dark-purple: hsla(259, 26%, 22%, 1);
$lion: hsla(22, 36%, 62%, 1);
$ultra-violet: hsla(246, 13%, 45%, 1);
$russet: hsla(28, 51%, 34%, 1);
$coffee: hsla(16, 25%, 40%, 1);
$brown-sugar: hsla(15, 35%, 55%, 1);

/* SCSS RGB */
$copper: rgba(185, 117, 66, 1);
$champagne-pink: rgba(249, 220, 204, 1);
$wine: rgba(100, 54, 57, 1);
$chili-red: rgba(224, 67, 42, 1);
$dark-purple: rgba(50, 41, 70, 1);
$lion: rgba(194, 150, 124, 1);
$ultra-violet: rgba(103, 100, 130, 1);
$russet: rgba(129, 82, 42, 1);
$coffee: rgba(128, 91, 77, 1);
$brown-sugar: rgba(180, 118, 98, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-right: linear-gradient(90deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-bottom: linear-gradient(180deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-left: linear-gradient(270deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-top-right: linear-gradient(45deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-bottom-right: linear-gradient(135deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-top-left: linear-gradient(225deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-bottom-left: linear-gradient(315deg, #B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);
$gradient-radial: radial-gradient(#B97542ff, #F9DCCCff, #643639ff, #E0432Aff, #322946ff, #C2967Cff, #676482ff, #81522Aff, #805B4Dff, #B47662ff);