/* Coolors Exported Palette - https://coolors.co/a4696d-d6924a-a0422c-b97542-d6bec6-b47662-322946-5f5051-c2967c-6a2d14 */

/* CSS HEX */
--rose-taupe: #A4696Dff;
--butterscotch: #D6924Aff;
--chestnut: #A0422Cff;
--copper: #B97542ff;
--thistle: #D6BEC6ff;
--brown-sugar: #B47662ff;
--dark-purple: #322946ff;
--wenge: #5F5051ff;
--lion: #C2967Cff;
--seal-brown: #6A2D14ff;

/* CSS HSL */
--rose-taupe: hsla(356, 24%, 53%, 1);
--butterscotch: hsla(31, 63%, 56%, 1);
--chestnut: hsla(11, 57%, 40%, 1);
--copper: hsla(26, 47%, 49%, 1);
--thistle: hsla(340, 23%, 79%, 1);
--brown-sugar: hsla(15, 35%, 55%, 1);
--dark-purple: hsla(259, 26%, 22%, 1);
--wenge: hsla(356, 9%, 34%, 1);
--lion: hsla(22, 36%, 62%, 1);
--seal-brown: hsla(17, 68%, 25%, 1);

/* SCSS HEX */
$rose-taupe: #A4696Dff;
$butterscotch: #D6924Aff;
$chestnut: #A0422Cff;
$copper: #B97542ff;
$thistle: #D6BEC6ff;
$brown-sugar: #B47662ff;
$dark-purple: #322946ff;
$wenge: #5F5051ff;
$lion: #C2967Cff;
$seal-brown: #6A2D14ff;

/* SCSS HSL */
$rose-taupe: hsla(356, 24%, 53%, 1);
$butterscotch: hsla(31, 63%, 56%, 1);
$chestnut: hsla(11, 57%, 40%, 1);
$copper: hsla(26, 47%, 49%, 1);
$thistle: hsla(340, 23%, 79%, 1);
$brown-sugar: hsla(15, 35%, 55%, 1);
$dark-purple: hsla(259, 26%, 22%, 1);
$wenge: hsla(356, 9%, 34%, 1);
$lion: hsla(22, 36%, 62%, 1);
$seal-brown: hsla(17, 68%, 25%, 1);

/* SCSS RGB */
$rose-taupe: rgba(164, 105, 109, 1);
$butterscotch: rgba(214, 146, 74, 1);
$chestnut: rgba(160, 66, 44, 1);
$copper: rgba(185, 117, 66, 1);
$thistle: rgba(214, 190, 198, 1);
$brown-sugar: rgba(180, 118, 98, 1);
$dark-purple: rgba(50, 41, 70, 1);
$wenge: rgba(95, 80, 81, 1);
$lion: rgba(194, 150, 124, 1);
$seal-brown: rgba(106, 45, 20, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-right: linear-gradient(90deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-bottom: linear-gradient(180deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-left: linear-gradient(270deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-top-right: linear-gradient(45deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-bottom-right: linear-gradient(135deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-top-left: linear-gradient(225deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-bottom-left: linear-gradient(315deg, #A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);
$gradient-radial: radial-gradient(#A4696Dff, #D6924Aff, #A0422Cff, #B97542ff, #D6BEC6ff, #B47662ff, #322946ff, #5F5051ff, #C2967Cff, #6A2D14ff);